/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

a, a:hover {text-decoration:none! important; color: #3b0983}
a:hover {color:#fff!important}

.lead a:hover {color:#565656!important;}

b, strong {
  font-weight: bold;
}
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.bg-home {
 background-color: #3b0983!important;
}

.logo-portada {
  padding-bottom: 3em!important;
}
input, textarea {
  width: 100%;
}
.salir-rapido{
  background-color: #b50303db;
}
.alert-navegar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #b18ee4;
  overflow-y:scroll;
  overflow-x:hidden;
  max-height: 80%;
  display: none;
}
.alert-navegar-boton {
  text-align: right;
  padding: 10px;
}
.alert-navegar-boton a{
  cursor: pointer;
}
.alert-navegar-content{
  padding: 4em;
}

/* RECURSOS */

#recursos a:hover {
color:#3b0983!important;
}

.row,
.row > .column {
  margin: 15px;
}

.column {
  float: left;
  width: 22%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#myBtnContainer {
text-align:center;
}

.show {
  display: block;
}

.btn {
  font-size:0.85rem;
  text-transform:uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
 color:#fff;
 background-color:#b18ee4;
}

.btn.active {
 font-weight: 600;
 color:#fff;
 background-color:#b18ee4;
}


.card {
background-color: #b18ee4;
border: 1px solid #b18ee4;
margin-bottom: 30px;
}

.card-body {
background-color:#fff;
border-radius: 0 0 3px 3px;
}

.card img {
filter: grayscale(100%);
mix-blend-mode: screen;
}

.card img:hover {
filter:none;
mix-blend-mode:normal;
}

/* Responsive layout */
.flex-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
 .flex-container a {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
 }

 .flex-container img {
   margin-top: 8px;
   vertical-align: middle;
   width: 100%;
 }

/* Responsive layout - makes a two column-layout instead of four columns */
 @media screen and (max-width: 800px) {
   .flex-container a {
     -ms-flex: 50%;
     flex: 50%;
     max-width: 50%;
   }
   
   .column {
       width: 42%;
     }
 }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
     .flex-container a {
       -ms-flex: 100%;
       flex: 100%;
       max-width: 100%;
     }

     .column {
       width: 100%;
     }

   }
